<h1>Add an Event</h1>
   
  <%= form_for @event do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :datetime %>
  <%= f.text_field :datetime %>
  <%= f.label :contact %>
  <%= f.text_field :contact %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.label :tag_list, "Tags (separated by commas)" %>
  <%= f.text_field :tag_list %>
  <%= f.submit "Save event", class: "button" %>
<% end %> 