<div class="row">
  <div class="large-6 columns">
    <h1>Add a Company</h1>

      <%= form_for @company do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :description %>
      <%= f.text_field :description %>
      <%= f.label :address %>
      <%= f.text_field :address %>
      <%= f.label :phone %>
      <%= f.text_field :phone %>
      <%= f.label :tag_list, "Tags (separated by commas)" %>
      <%= f.text_field :tag_list %>
      <%= f.file_field :avatar %>
      <%= f.file_field :background %>
      <%= f.submit "Save company", class: "button" %>
    <% end %>
  </div>
</div>
