<section id="homepage-hero">
  <div class="row" id="hero-header">
    <h1>Veg in PDX</h1>
    <h4>Portland's Guide To All Things Plant Powered, Vegan, and Vegetarian</h4>
    <% if current_user %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, class: "button" %></li>
      <%= link_to "Login", new_user_session_path, class: "button" %></li>
    <% end %>
  </div>
</section>
<section id="tags-events">
  <div class="row" id="homepage-form">
    <div class="large-7 columns">
      <h4>Find companies, products, restuarants, and events by tag:</h4>
      <% @tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag.name), class: "button"%>
      <% end %>
    </div>
    <div class="large-5 columns" id="upcoming-events">
      <h5>Upcoming Events</h5>
      <% @events.each do |event| %>
          <%= link_to event.name, event_path(event)%>
          <%= event.event_date.strftime("%A %B %d, %Y") %><br>
      <% end %>
    </div>
  </div>
</section>
<section id="companies">
  <div class="row">
    <div class="large-6 columns" id="featured-company">
    <h4>Featured Companies</h4>
      <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-3">
        <li><%= image_tag("qcenter.jpg") %><h5>Q Center</h5></li>
        <li><%= image_tag("qcenter.jpg") %><h5>Q Center</h5></li>
        <li><%= image_tag("qcenter.jpg") %><h5>Q Center</h5></li>
        <li><%= image_tag("qcenter.jpg") %><h5>Q Center</h5></li>
        <li><%= image_tag("qcenter.jpg") %><h5>Q Center</h5></li>
        <li><%= image_tag("qcenter.jpg") %><h5>Q Center</h5></li>
      </ul>
    </div>
    <div class="large-6 columns" id="featured-products">
      <h4>New Products</h4>
      <ul class="example-orbit" data-orbit>
      <li>
        <%= image_tag("heidiho.jpg") %>
        <div class="orbit-caption">
          Heidi Ho Organics Chia Cheeze
        </div>
      </li>
      <li class="active">
        <%= image_tag("heidiho.jpg") %>
        <div class="orbit-caption">
          Heidi Ho Organics Chia Cheeze
        </div>
      </li>
      <li>
        <%= image_tag("heidiho.jpg") %>
        <div class="orbit-caption">
          Heidi Ho Organics Chia Cheeze
        </div>
      </li>
    </ul>
    </div>
  </div>
</section>
