<ul class="breadcrumbs">
  <li><a href="#">Home</a></li>
  <li class="unavailable"><a href="#">Tag Search</a></li>
  <li class="unavailable"><a href="#">All Results</a></li>
  <li class="current"><a href="#"><%= @restaurant.name %></a></li>
</ul>
<section id="page-hero">
  <div class="row">
    <div class="small-12 large-4 columns">
      <%= image_tag @restaurant.avatar.url(:medium) %>
    </div>
    <div class="small-12 large-8 columns">
      <h1><%= @restaurant.name %></h1>
      <h4><%= @restaurant.description %></h4>
      <p>Tags:</p>
        <% @restaurant.tag_list.each do |tag| %>
          <%= link_to tag, tag_path(tag), class: "button"%>
        <% end %>
    </div>
  </div>
</section>
<section id="page-body">
  <div class="row">
    <div class="small-12 large-4 columns">
      <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@restaurant.latitude}%2C#{@restaurant.longitude}" %>
      <h5>Address: <%= @restaurant.address %></h5>
      <h3>Restaurants nearby</h3>
      <ul>
      <% for restaurant in @restaurant.nearbys(10) %>
        <li><%= link_to restaurant.name, restaurant %> (<%= restaurant.distance.round(2) %> miles)</li>
      <% end %>
      </ul>
    </div>
    <div class="small-12 large-8 columns">
      <div class="panel">
        <p>Have you been to <%= @restaurant.name %>? Leave a review! <a href="#" data-reveal-id="reviewModal">Add a Review</a></p>
            <div id="reviewModal" class="reveal-modal" data-reveal>
              <h2>Add a Review</h2>
              <p class="lead">Add a Review</p>
                <%= form_for @review do |f| %>
                    <%= f.label :title %>
                    <%= f.text_field :title %>
                    <%= f.label :content %>
                    <%= f.text_area(:content, cols: 20, rows: 10) %>
                    <%= f.label :rating %>
                    <%= f.text_field :rating %>
                    <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
                    <%= f.hidden_field :profile_id, value: @current_profile %>
                    <%= f.submit "Save review", class: "button" %>
                  <% end %>
              <a class="close-reveal-modal">&#215;</a>
            </div>
          <% @restaurant.reviews.each do |review| %>
              <table>
                  <tbody>
                    <tr>
                      <td>
                        <%= review.profile.name %>
 +                      <%= image_tag review.profile.avatar.url(:medium) %>
                      </td>
                      <td>
                        <h5><strong><%= review.title %></strong></h5><br>
                        Rating (out of 5): <%= show_stars review %>
                        <%= review.content %>
                      </td>
                    </tr>
                  </tbody>
                </table>
          <% end %>
      </div>
    </div>
  </div>
</section>
