<div class="row">
  <div class="large-6 columns">
    <h1>Add a Product</h1>

      <%= form_for @product do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :description %>
      <%= f.text_field :description %>
      <%= f.label :price %>
      <%= f.text_field :price %>
      <%= f.label :tag_list, "Tags (separated by commas)" %>
      <%= f.text_field :tag_list %>
      <%= f.select(:company_id, @company_options) %>
      <%= f.file_field :avatar %>
      <%= f.submit "Save product", class: "button" %>
    <% end %>
  </div>
</div>
