<h1>Add a Place</h1>

  <%= form_for @place do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.label :phone %>
  <%= f.text_field :phone %>
  <%= f.label :tag_list, "Tags (separated by commas)" %>
  <%= f.text_field :tag_list %>
  <%= f.file_field :avatar %>
  <%= f.file_field :background_image %>
  <%= f.submit "Save place", class: "button" %>
<% end %>
