<ul class="breadcrumbs">
  <li><a href="#">Home</a></li>
  <li class="unavailable"><a href="#">Tag Search</a></li>
  <li class="unavailable"><a href="#">All Results</a></li>
  <li class="current"><a href="#"><%= @place.name %></a></li>
</ul>
<section id="page-hero">
  <div class="row">
    <div class="small-12 large-4 columns">
      <%= image_tag @place.avatar.url(:medium) %>
    </div>
    <div class="small-12 large-8 columns">
      <h1><%= @place.name %></h1>
      <h4><%= @place.description %></h4>
    </div>
  </div>
</section>
<section id="page-body">
  <div class="row">
    <div class="small-12 large-4 columns">
      <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@place.latitude}%2C#{@place.longitude}" %>
      <h5>Address: <%= @place.address %></h5>
    </div>
    <div class="small-12 large-5 columns">
      <p><%= link_to "Add a review", new_review_path %></p>
      <% @place.reviews.each do |review| %>
        <li>
          <%= review.title %><br>
          <%= review.content %><br>
          <%= review.profile.name %><br>
        </li>
      <% end %>
    </div>
    <div class="small-12 large-3 columns">
      <h5>Upcoming events</h5>
      <% @place.events.each do |event| %>
        <li>
          <%= event.name %><br>
          <%= event.description %><br>
          LINK TO SEE MORE INFO
        </li>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-4 columns">
      <h3>Places nearby</h3>
      <ul>
      <% for place in @place.nearbys(10) %>
        <li><%= link_to place.name, place %> (<%= place.distance.round(2) %> miles)</li>
      <% end %>
      </ul>
    </div>
    <div class="small-12 large-6 columns">

    </div>
    <div class="small-12 large-3 columns">
    </div>
  </div>
</section>
