<ul class="breadcrumbs">
  <li><a href="#">Home</a></li>
  <li class="unavailable"><a href="#">Tag Search</a></li>
  <li class="unavailable"><a href="#">All Results</a></li>
  <li class="current"><a href="#"><%= @place.name %></a></li>
</ul>
<section id="page-hero">
  <div class="row">
    <div class="small-12 large-4 columns">
      <%= image_tag @place.avatar.url(:medium) %>
    </div>
    <div class="small-12 large-8 columns">
      <h1><%= @place.name %></h1>
      <h4><%= @place.description %></h4>
    </div>
  </div>
</section>
<section id="page-body">
  <div class="row">
    <div class="small-12 large-3 columns">
      <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@place.latitude}%2C#{@place.longitude}" %>
      <h5>Address: <%= @place.address %></h5>
      <h3>Places nearby</h3>
      <ul>
      <% for place in @place.nearbys(10) %>
        <li><%= link_to place.name, place %> (<%= place.distance.round(2) %> miles)</li>
      <% end %>
      </ul>
    </div>
    <div class="small-12 large-6 columns">
      <div class="panel">
        <p>Have you been to <%= @place.name %>? Leave a review!</p>
          <a href="#" data-reveal-id="reviewModal", class="button">Add a Review</a>
            <div id="reviewModal" class="reveal-modal" data-reveal>
              <h2>Add a Review</h2>
              <p class="lead">Add a Review</p>
                <%= form_for @review do |f| %>
                    <%= f.label :title %>
                    <%= f.text_field :title %>
                    <%= f.label :content %>
                    <%= f.text_area(:content, cols: 20, rows: 10) %>
                    <%= f.label :rating %>
                    <%= f.text_field :rating %>
                    <%= f.hidden_field :place_id, value: @place.id %>
                    <%= f.hidden_field :profile_id, value: @current_profile %>
                    <%= f.submit "Save review", class: "button" %>
                  <% end %>
              <a class="close-reveal-modal">&#215;</a>
            </div>
          <% @place.reviews.each do |review| %>
              <table>
                  <tbody>
                    <tr>
                      <td>
                        <%= review.profile.name %>
 +                      <%= image_tag review.profile.avatar.url(:medium) %>
                      </td>
                      <td>
                        <h5><strong><%= review.title %></strong></h5><br>
                        Rating: <%= show_stars review %>
                        <%= review.content %>
                      </td>
                    </tr>
                  </tbody>
                </table>
          <% end %>
      </div>
    </div>
    <div class="small-12 large-3 columns">
      <div class="sidebar-info">
        <h3>Upcoming events</h3>
        <% @place.events.each do |event| %>
            <p><strong><%= event.name %></strong></p>
            <p><%= event.description %></p><br>
            <%= link_to "See event details", event_path(event) %>
        <% end %>
      </div>
    </div>
  </div>
</section>
